<!DOCTYPE html>
<html>
<head>
    <title>Geolocation</title>
</head>
<body>
    <h1>Geolocation from MySQL table</h1>
    <table border="1">
        <tr>
            <th>geolocation_zip_code_prefix</th>
            <th>geolocation_lat</th>
            <th>geolocation_lng</th>
            <th>geolocation_city</th>
            <th>geolocation_state</th>
            
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>