<!DOCTYPE html>
<html>
<head>
    <title>Sellers</title>
</head>
<body>
    <h1>Sellers from MySQL table</h1>
    <table border="1">
        <tr>
            <th>seller_id</th>
            <th>seller_zip_code_prefix</th>
            <th>seller_city</th>
            <th>seller_state</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>